{% extends 'base.html' %}
{% block title %}
    Liste des clients
{% endblock %}
{% load humanize %}
{% block content %}
{% for group in request.user.groups.all %}
<div class="container-fluid">
    <div class="card mb-4 shadow-sm">
        <div class="card-body d-flex justify-content-between align-items-center">
            <h5 class="m-0 font-weight-bold text-primary">
                Gestion des clients
            </h5>
            <a href="{% url 'customer:customer_create' %}" class="btn btn-outline-primary btn-sm">
                + Nouveau client
            </a>
        </div>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="card shadow">
        <div class="card-header bg-white">
            <h5>Listes de clients</h5>
        </div>
        <div class="card-body">
            <!-- PAGINATION -->
            {% if customers.has_other_pages %}
                <nav>
                  <ul class="pagination pagination-sm">
                    {% if customers.has_previous %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ customers.previous_page_number }}">«</a>
                      </li>
                    {% endif %}

                    <li class="page-item active">
                      <span class="page-link">
                        Page {{ customers.number }} / {{ customers.paginator.num_pages }}
                      </span>
                    </li>

                    {% if customers.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ customers.next_page_number }}">»</a>
                      </li>
                    {% endif %}
                  </ul>
                </nav>
            {% endif %}
            <div class="table-responsive">
                <!-- SEARCH FULL WIDTH -->
                <form method="GET" class="mb-3">
                    <div class="input-group w-100">
                        <input type="text"
                               name="search"
                               value="{{ search }}"
                               class="form-control"
                               placeholder="Fullname, phone, email">
                        <button class="btn btn-outline-primary btn-sm">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
                <table class="table table-sm table-hover" id="dataTable">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Téléphone</th>
                            <th>Email</th>
                            <th>Impayé</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                        <tr>
                            <td>
                                {{ customer.full_name }}
                            </td>
                            <td>
                                {{ customer.phone }}
                            </td>
                            <td>
                                {{ customer.email }}
                            </td>
                            <td>
                                {% if customer.total_impaye > 0 %}
                                    <span class="badge bg-danger">
                                        {{ customer.total_impaye|intcomma }} {{ shop.currency }}
                                    </span>
                                {% else %}
                                    <span class="badge bg-success">
                                        0 {{ shop.currency }}
                                    </span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'customer:customer_detail' customer.id %}"
                                   class="btn btn-outline-info btn-sm">
                                   <i class="bi bi-layout-text-sidebar-reverse"></i>
                                </a>
                                {% if group.name == 'Admin' %}
                                <a href="{% url 'customer:customer_update' customer.id %}"
                                   class="btn btn-outline-warning btn-sm">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a href="{% url 'customer:customer_delete' customer.id %}"
                                   class="btn btn-outline-danger btn-sm">
                                    <i class="bi bi-trash3"></i>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5"
                                class="text-center">
                                Aucun client
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}