{% extends 'base.html' %}
{% block title %}
    Vente | Liste | {% if user.is_authenticated %}{{ user.username }}{% endif %}
{% endblock %}
{% block content %}
{% load humanize %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="card mb-4 shadow-lg">
        <div class="card-header m-0 font-weight-bold text-primary">
            Gestion des ventes
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">
                Liste des ventes
            </h6>
        </div>
        {% for group in request.user.groups.all %}
        <div class="card-body">
            {% if group.name == 'Admin' or group.name == 'Caisse' %}
            <a href="{% url 'sale:sale_create' %}" class="btn btn-outline-primary btn-sm mb-3">
                Nouvelle vente <i class="bi bi-plus-square"></i>
            </a>
            {% endif %}
            <div class="table-responsive">
                <div class="input-group">
                   <input type="text" id="searchInput" class="form-control mb-2 rounded" placeholder="Rechercher ici...">
                   <!--<span>filter</span>-->
                </div>
                <div class="table-responsive">
                    <table class="table table-sm table-hover" id="dataTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Date</th>
                                <th>Total</th>
                                <th>Bénéfice</th>
                                <th>Client</th>
                                <th>Telephone</th>
                                <th>Facture</th>
                                <th>Statut</th>
                                <th>Restant</th>
                                {% if group.name == 'Admin' or group.name == 'Caisse' %}
                                    <th>Actions</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for sale in sales %}
                            <tr>
                                <td>#{{ sale.id }}</td>
                                <td>{{ sale.created_at|date:"Y-m-d H:i" }}</td>
                                <td>
                                    <span class="badge badge-primary">
                                        {{ sale.total_amount|intcomma }} {{ shop.currency }}
                                    </span>
                                </td>
                                <td class="text-success">
                                    {{ sale.total_profit|default:0|intcomma }} {{ shop.currency }}
                                </td>
                                <td>{{ sale.customer.full_name|default:"-" }}</td>
                                <td>{{ sale.customer.phone|default:"-" }}</td>
                                <td>
                                    {% if sale.facture %}
                                        {{ sale.facture.reference }}
                                    {% else %}
                                        <span class="text-muted">-</span>
                                    {% endif %}
                                </td>

                                <td>
                                    {% if sale.facture %}
                                        {% if sale.facture.status == 'paid' %}
                                            <span class="badge bg-success">Payée</span>
                                        {% elif sale.facture.status == 'partial' %}
                                            <span class="badge bg-warning">Partielle</span>
                                        {% elif sale.facture.status == 'issued' %}
                                            <span class="badge bg-info">Émise</span>
                                        {% else %}
                                            <span class="badge bg-secondary">Brouillon</span>
                                        {% endif %}
                                    {% else %}
                                        <span class="text-muted">-</span>
                                    {% endif %}
                                </td>

                                <td>
                                    <span class="badge badge-danger">
                                        {% if sale.facture %}
                                            {{ sale.facture.remaining|intcomma }} {{ shop.currency }}
                                        {% else %}
                                            <span class="text-muted">-</span>
                                        {% endif %}
                                    </span>
                                </td>
                                {% if group.name == 'Admin' or group.name == 'Caisse' %}
                                <td>
                                    <a href="{% url 'sale:sale_detail' sale.id %}" class="btn btn-primary btn-sm"><i class="bi bi-arrow-up-right-square"></i></a>
                                    {% if group.name == 'Admin' %}
                                    <!-- <a href="{% url 'sale:sale_update' sale.id %}" class="btn btn-warning btn-sm"><i class="bi bi-arrows-angle-contract"></i></a> -->
        
                                    <!-- <a href="{% url 'sale:sale_delete' sale.id %}" class="btn btn-danger btn-sm">Supprimer</a> -->
                                     {% endif %}
                                </td>
                                {% endif %}
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="10" class="text-center">
                                    Aucune vente enregistrée
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- /.container-fluid -->
<script>
    document.getElementById("searchInput").addEventListener("keyup", function () {
    const searchValue = this.value.toLowerCase();
    const rows = document.querySelectorAll("#dataTable tbody tr");

    rows.forEach(row => {
        const rowText = row.textContent.toLowerCase();
        row.style.display = rowText.includes(searchValue) ? "" : "none";
        });
    });
</script>
{% endblock %}