{% extends 'base.html' %}
{% block title %}
  Produits | Admin
{% endblock %}
{% block content %}
{% load humanize %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="card shadow-lg border-danger text-white">
        <div class="card-header bg-danger">
            Confirmer la suppression
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <h6 class="mb-3 text-primary">
                    Voulez-vous supprimer "{{ category.name }}" ?
                </h6>
                <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                <a href="{% url 'products:category_list' %}" class="btn btn-secondary btn-sm">Annuler</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}