{% extends 'base.html' %}
{% block title %}
  Produits | {% if user.is_authenticated %}{{ user.username }}{% endif %}
{% endblock %}
{% block content %}
{% load humanize %}
<!-- Begin Page Content -->
{% for group in request.user.groups.all %}
<div class="container-fluid">
    <!-- HEADER -->
    <div class="card mb-4 shadow-sm">
        <div class="card-body d-flex justify-content-between align-items-center">
            <h5 class="m-0 font-weight-bold text-primary">
                Gestion des produits
            </h5>
            {% if group.name == 'Admin' %}
            <a href="{% url 'products:product_create' %}" class="btn btn-outline-primary btn-sm">
                + Nouvau produit
            </a>
            {% endif %}
        </div>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="card shadow">
        <div class="card-header bg-white">
            <h6 class="m-0 font-weight-bold text-primary">
                Liste des produits
            </h6>
        </div>
        <div class="card-body">
            <!-- PAGINATION -->
            {% if products.has_other_pages %}
                <nav>
                  <ul class="pagination pagination-sm">
                    {% if products.has_previous %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ products.previous_page_number }}">«</a>
                      </li>
                    {% endif %}

                    <li class="page-item active">
                      <span class="page-link">
                        Page {{ products.number }} / {{ products.paginator.num_pages }}
                      </span>
                    </li>

                    {% if products.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ products.next_page_number }}">»</a>
                      </li>
                    {% endif %}
                  </ul>
                </nav>
            {% endif %}
            <!-- TABLE -->
            <div class="table-responsive">
                <!-- SEARCH FULL WIDTH -->
                <form method="GET" class="mb-3">
                    <div class="input-group w-100">
                        <input type="text"
                               name="search"
                               value="{{ search }}"
                               class="form-control"
                               placeholder="Nom produit, categorie">
                        <button class="btn btn-outline-primary btn-sm">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th>Nom</th>
                            <th>Catégorie</th>
                            <th>Prix Achat</th>
                            <th>Prix Vente</th>
                            <th>Marge</th>
                            <!-- <th>Marge Total</th> -->
                            <th>Stock</th>
                            <th>Valeur Stock</th>
                            {% if group.name == 'Admin' %}
                            <th>Actions</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.category }}</td>
                            <td>{{ product.purchase_price|intcomma }} {{shop.currency}}</td>
                            <td>{{ product.selling_price|intcomma }} {{shop.currency}}</td>

                            <!-- Marge -->
                            <td>
                                <span class="badge bg-info">
                                    {{ product.profit_margin|intcomma }} {{shop.currency}}
                                </span>
                            </td>
                            <!-- <td>
                                <span class="badge bg-info">
                                    {{ product.marge_total|intcomma }} {{shop.currency}}
                                </span>
                            </td> -->

                            <!-- Stock -->
                            <td>
                                {% if product.stock <= product.minimum_stock %}
                                    <span class="badge bg-danger">
                                        {{ product.stock }}
                                    </span>
                                {% else %}
                                    <span class="badge bg-success">
                                        {{ product.stock }}
                                    </span>
                                {% endif %}
                            </td>

                            <!-- Valeur du stock -->
                            <td>
                                <strong>{{ product.stock_value|intcomma }} {{shop.currency}}</strong>
                            </td>
                            {% if group.name == 'Admin' %}
                            <td>
                                <a href="{% url 'products:product_detail' product.id %}" class="btn btn-outline-primary btn-sm"><i class="bi bi-card-list"></i></a>
                                <a href="{% url 'products:product_update' product.id %}" class="btn btn-outline-success btn-sm"><i class="bi bi-pencil"></i></a>
                                <a href="{% url 'products:product_delete' product.id %}" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash3"></i></a>
                            </td>
                            {% endif %}
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="9" class="text-center">Aucun produit enregistré</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>
{% endfor %}
<!-- /.container-fluid -->
<script>
    document.getElementById("searchInput").addEventListener("keyup", function () {
    const searchValue = this.value.toLowerCase();
    const rows = document.querySelectorAll("#dataTable tbody tr");

    rows.forEach(row => {
        const rowText = row.textContent.toLowerCase();
        row.style.display = rowText.includes(searchValue) ? "" : "none";
        });
    });
</script>
{% endblock %}