{% extends 'base_caisse.html' %}
{% block title %}
    Vente | Liste | Caisse
{% endblock %}
{% block content %}
{% load humanize %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="card mb-4 shadow-lg">
        <div class="card-header m-0 font-weight-bold text-primary">
            Gestion des ventes
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">
                Liste des ventes
            </h6>
        </div>
        <div class="card-body">
            <a href="{% url 'sale_create_caisse' %}" class="btn btn-primary btn-sm mb-3">
                Nouvelle vente <i class="bi bi-plus-square"></i>
            </a>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="table-responsive">
                <div class="input-group">
                   <input type="text" id="searchInput" class="form-control mb-3" placeholder="Rechercher ici...">
                </div>
                {% if sales.has_other_pages %}
                <nav>
                  <ul class="pagination pagination-sm">
                    {% if sales.has_previous %}
                      <li class="page-item">
                        <a class="page-link" href="?pages_sale={{ sales.previous_page_number }}">«</a>
                      </li>
                    {% endif %}

                    <li class="page-item active">
                      <span class="page-link">
                        Page {{ sales.number }} / {{ sales.paginator.num_pages }}
                      </span>
                    </li>

                    {% if sales.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="?pages_sale={{ sales.next_page_number }}">»</a>
                      </li>
                    {% endif %}
                  </ul>
                </nav>
                {% endif %}
                <table class="table table-sm table-bordered" id="dataTable">
                    <thead class="table-primary">
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Total</th>
                            <th>Bénéfice</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for sale in sales %}
                        <tr>
                            <td>#{{ sale.id }}</td>
                            <td>{{ sale.created_at|date:"Y-m-d H:i" }}</td>
                            <td>{{ sale.total_amount|intcomma }} {{ shop.currency }}</td>
                            <td class="text-success">
                                {{ sale.total_profit|intcomma }} {{ shop.currency }}
                            </td>
                            <td>
                                <a href="{% url 'sale_detail_caisse' sale.id %}" class="btn btn-info btn-sm">Voir detail <i class="bi bi-arrow-up-right-square"></i></a>
                                <!-- <a href="{% url 'sale_form_caisse' sale.id %}" class="btn btn-warning btn-sm">Modifier</a> -->
                                <!-- <a href="{% url 'sale_delete' sale.id %}" class="btn btn-danger btn-sm">Supprimer</a> -->
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">
                                Aucune vente enregistrée
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<script>
    document.getElementById("searchInput").addEventListener("keyup", function () {
    const searchValue = this.value.toLowerCase();
    const rows = document.querySelectorAll("#dataTable tbody tr");

    rows.forEach(row => {
        const rowText = row.textContent.toLowerCase();
        row.style.display = rowText.includes(searchValue) ? "" : "none";
        });
    });
</script>
{% endblock %}