{% extends 'base.html' %}
{% block title %} Supression facture {% endblock %}
{% block content %}
{% load humanize %}
<div class="container-fluid mt-4">

    <div class="card shadow border-0">

        <div class="card-header bg-white text-dark">
            <h5>Supprimer la facture</h5>
        </div>

        <div class="card-body">

            <p class="fs-5">
                Êtes-vous sûr de vouloir supprimer la facture :
            </p>

            <h4 class="text-primary">
                {{ facture.reference }}
            </h4>

            <p>
                <strong>Client :</strong>
                {{ facture.customer.full_name|default:"-" }} <br>

                <strong>Total :</strong>
                {{ facture.total|intcomma }} {{ shop.currency }} <br>

                <strong>Payé :</strong>
                {{ facture.amount_paid|intcomma }} {{ shop.currency }} <br>

                <strong>Reste :</strong>
                <span class="text-danger">{{ facture.remaining|intcomma }} {{shop.currency}}</span>
            </p>

            <hr>

            <form method="POST">
                {% csrf_token %}

                <button type="submit" class="btn btn-outline-danger w-100">
                    Oui, supprimer
                </button>

                <a href="{% url 'facture:facture_list' %}" class="btn btn-outline-secondary w-100 mt-2">
                    Annuler
                </a>

            </form>

        </div>
    </div>

</div>

{% endblock %}